* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(228, 128, 128);
}

.pagination {
    padding: 1rem;
    background-color: azure;
    border-radius: 5px;
    margin-top: 25px;

}

.page {
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    background-color: gray;
    margin-right: 5px ;
    border-radius: 5px;
}

.page:hover {
   background-color: blue; 
}
.active {
    background-color: blue;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    /* background-color: gray; */
    margin-right: 5px ;
    border-radius: 5px;
}

.cursorNotAllowed {
    cursor: not-allowed;
}
